#Title{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meme-generator {
  margin: 20px auto;
  width: 400px;
  font-family: sans-serif;
}

.meme-generator label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.meme-generator input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.removeBtn {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  background-color: red;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  cursor: pointer;
}

.image {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  z-index: -1;    
}

.topvalue {
  color: black;
  display: flex;
  position: absolute;
  margin: auto;
  width: 100%;  
  top: 0;    
  font-size: 3em;
  text-align: center;
  justify-content: center;
}

.botvalue {
  color: black;
  display: flex;
  position: absolute;
  margin: auto;
  width: 100%;
  top: 115%;  
  bottom: 0;    
  font-size: 3em;
  justify-content: center;
}

#DatMeme{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 #meme-container{
  position: relative;
  max-width: 500px;
  max-height: 500px;
 }