.meme-generator {
margin: 20 px, auto;
width: 400 px;
font-family: sans-serif;
}
.meme-generator label {
display:block;
font-weight: bold;
margin-bottom: 10 px;
}

.meme-generator input {
  width: 100%;
box-sizing: border-box;
margin-bottom: 20 px;
}
#meme {
  width: 100%;
}