.Home{
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    background-color: snow;
    text-align: center;
}