@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.NavBar {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Cinzel Decorative', serif;
    font-size: 80%;
}