@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.NavBar {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Cinzel Decorative', serif;
    font-size: 80%;
}

body {
    background: linear-gradient (red,blue);
    background-image: url("./Media/GoTBoxCover.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
}